/* NOTE GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

/* NOTE Repeat ele - component */
button {
  background-color: #ff0e83;

  color: white;
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: 1px;

  border: 1px white solid;
  border-radius: 5px;
  padding: 13px 32px;

  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: white;
  color: black;
  border-color: #ff0e83;
}
/* NOTE HEADER */

header {
  background-color: #4e2a84;
  padding: 20px 0;
}
.header__content {
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__content ul {
  list-style: none;
}

.header__content li {
  display: inline;
  margin: 0 1rem;
}

.header__content ul a {
  text-decoration: none;

  color: white;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 700;

  transition: all 0.2s;
}

.header__content ul a:hover {
  color: #ff0e83;
}
.header__content p {
  color: white;
  font-size: 2.3rem;
}

.header__content ul .active a {
  color: #ff0e83;
}
/* NOTE CAROUSEL */
/* Vì carousel chỉ có 1 thẻ con nên có thể tận dụng flexbox để canh center div con duy nhất*/

.carousel {
  background-image: url(../img/b3.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel h1 {
  font-size: 3.5rem;
}

.carousel p {
  font-size: 1.1rem;
  margin: 23px;
}

/* NOTE INTRO */
/* TODO fix responsive img bằng div chữ */
/* TODO fix grid dàn 2 hình cao ngang nhau */
.intro {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  /* grid-template-columns: repeat(4,25%); */
  grid-template-columns: repeat(4, 1fr);
}

.intro__ab1 {
  /* grid-column: 2/4; */
  grid-column: 2 / span 2;
}

.intro__bake {
  grid-column: 1/3;
}

.intro__ab4 {
  grid-column: 3 / span 2;
}

.intro__item img {
  width: 100%;
  /* xử lí phần hở do inline img */
  display: block;
}

/* div con chiếm 100% flexbox nên ko cần justify-content: center */
/* ở đây sẽ xử lý bằng padding div cha để ép vô */
.intro__item {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro__item div {
  padding: 0 32px;
}

.intro__item h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro__item p {
  color: #c1c1c1;
  font-size: 0.875rem;
  line-height: 20px;
}

.intro .intro__item:first-child,
.intro .intro__item:nth-child(8) {
  background-color: #4e2a84;
}

.intro .intro__item:nth-child(3) {
  background-color: #ff0e83;
}

.intro .intro__item:nth-child(4) {
  background-color: #ed6498;
}

.intro .intro__item:nth-child(6) {
  background-color: #836eaa;
}

/* INTRO NUMBER */
.number {
  padding: 70px 0;
}
.number__content {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.number__item p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #4e2a84;
}

.number__item p:last-of-type{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
}
